<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>
<!-- Content -->
<div th:fragment="exp">
  <script th:inline="javascript">
    const exp = /*[[${expList}]]*/
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('maxCharacterLevel').value = exp.length;
        document.getElementById('minCharacterLevel').value = 1;
        changeCharacterLevel()
      });

    function changeCharacterLevel() {

      document.getElementById('minCharacterLevel').value = document.getElementById('minCharacterLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      document.getElementById('maxCharacterLevel').value = document.getElementById('maxCharacterLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      const minLevel = document.getElementById('minCharacterLevel').value;
      const maxLevel = document.getElementById('maxCharacterLevel').value;

      if (minLevel > exp.length) {
        document.getElementById('minCharacterLevel').value = exp.length;
      }
      if (maxLevel > exp.length) {
        document.getElementById('maxCharacterLevel').value = exp.length;
      }

      const expList = exp.slice(minLevel, maxLevel);

      const resultExp = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);
      const resultGray = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.gray);
      }, 0);
      const resultGreen = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.green);
      }, 0);
      const resultBlue = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.blue);
      }, 0);
      const resultPurple = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.purple);
      }, 0);
      const resultOrange = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.orange);
      }, 0);
      const resultRainbow = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.rainbow);
      }, 0);
      document.getElementById('resultExp').innerText = resultExp + "";
      document.getElementById('resultGray').innerText = resultGray + "";
      document.getElementById('resultGreen').innerText = resultGreen + "";
      document.getElementById('resultBlue').innerText = resultBlue + "";
      document.getElementById('resultPurple').innerText = resultPurple + "";
      document.getElementById('resultOrange').innerText = resultOrange + "";
      document.getElementById('resultRainbow').innerText = resultRainbow + "";
    }
  </script>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr scope="row">
        <td>
          <p> 현재 레벨 </p>
        </td>
        <td>
          <input class="form-control" style="width:50px;"  id="minCharacterLevel" oninput="changeCharacterLevel()" type="text" min="1" value="1">
        </td>
        <td>
          <p> 목표 레벨 </p>
        </td>
        <td>
          <input class="form-control" style="width:50px;"  id="maxCharacterLevel" oninput="changeCharacterLevel()" type="text" min="1" value="70">
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>exp</th>
        <th>white widget</th>
        <th>gray widget</th>
        <th>green widget</th>
        <th>blue widget</th>
        <th>purple widget</th>
        <th>rainbow widget</th>
      </tr>
      <tr>
        <td>
          <p id="resultExp">213630
        </td>
        <td>
          <p id="resultGray">20
        </td>
        <td>
          <p id="resultGreen">30
        </td>
        <td>
          <p id="resultBlue">35
        </td>
        <td>
          <p id="resultPurple">45
        </td>
        <td>
          <p id="resultOrange">30
        </td>
        <td>
          <p id="resultRainbow">0
        </td>
      </tr>
    </tbody>
  </table>
</div>

</html>