<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>
<!-- Content -->
<div  th:fragment="exp">
  <script th:inline="javascript">
    const exp = /*[[${expList}]]*/;

    function changeCharacterLevel(level) {
      document.getElementById('characterLevel').value = level.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');

      if (level > 60) {
        document.getElementById('characterLevel').value = 60;
      }

      const expList = exp.slice(level, 60);

      const resultExp = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);
      const resultGray = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.gray);
      }, 0);
      const resultGreen = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.green);
      }, 0);
      const resultBlue = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.blue);
      }, 0);
      const resultPurple = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.purple);
      }, 0);
      const resultOrange = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.orange);
      }, 0);
      const resultRainbow = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.rainbow);
      }, 0);
      document.getElementById('resultExp').innerText = resultExp + "";
      document.getElementById('resultGray').innerText = resultGray + "";
      document.getElementById('resultGreen').innerText = resultGreen + "";
      document.getElementById('resultBlue').innerText = resultBlue + "";
      document.getElementById('resultPurple').innerText = resultPurple + "";
      document.getElementById('resultOrange').innerText = resultOrange + "";
      document.getElementById('resultRainbow').innerText = resultRainbow + "";
    }
  </script>
  <div class="row row-cols-2">
    <div class="col col-sm-auto">
      <div class="row">
        <div>
          <input id="characterLevel" oninput="changeCharacterLevel(this.value)" type="text" min="1">
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">exp</div>
          <div class="col">
            <p id="resultExp">213630
          </div>
        </div>
        <div class="row">
          <div class="col">white widget</div>
          <div class="col">gray widget</div>
          <div class="col">green widget</div>
          <div class="col">blue widget</div>
          <div class="col">purple widget</div>
          <div class="col">rainbow widget</div>
        </div>
        <div class="row">
          <div class="col">
            <p id="resultGray">20
          </div>
          <div class="col">
            <p id="resultGreen">30
          </div>
          <div class="col">
            <p id="resultBlue">35
          </div>
          <div class="col">
            <p id="resultPurple">45
          </div>
          <div class="col">
            <p id="resultOrange">30
          </div>
          <div class="col">
            <p id="resultRainbow">0
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>