<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>
<!-- Content -->
<div th:fragment="exp">
  <script th:inline="javascript">
    const exp = /*[[${expList}]]*/
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('maxCharacterLevel').value = exp.length;
        document.getElementById('minCharacterLevel').value = 1;
        changeCharacterLevel()
      });

    function changeCharacterLevel() {

      document.getElementById('minCharacterLevel').value = document.getElementById('minCharacterLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      document.getElementById('maxCharacterLevel').value = document.getElementById('maxCharacterLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      const minLevel = document.getElementById('minCharacterLevel').value;
      const maxLevel = document.getElementById('maxCharacterLevel').value;

      if (minLevel > exp.length) {
        document.getElementById('minCharacterLevel').value = exp.length;
      }
      if (maxLevel > exp.length) {
        document.getElementById('maxCharacterLevel').value = exp.length;
      }

      const expList = exp.slice(minLevel, maxLevel);

      const resultExp = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);
      const resultGray = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.gray);
      }, 0);
      const resultGreen = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.green);
      }, 0);
      const resultBlue = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.blue);
      }, 0);
      const resultPurple = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.purple);
      }, 0);
      const resultOrange = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.orange);
      }, 0);
      const resultRainbow = expList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.rainbow);
      }, 0);
      document.getElementById('resultExp').innerText = resultExp + "";
      document.getElementById('resultGray').innerText = resultGray + "";
      document.getElementById('resultGreen').innerText = resultGreen + "";
      document.getElementById('resultBlue').innerText = resultBlue + "";
      document.getElementById('resultPurple').innerText = resultPurple + "";
      document.getElementById('resultOrange').innerText = resultOrange + "";
      document.getElementById('resultRainbow').innerText = resultRainbow + "";
    }
  </script>
  <div class="row">
    <div class="col">
      <h2 class="m-2">캐릭터 경험치 계산기</h2>
    </div>
    <div class="row m-1">
      <div class="col">
        <div class="form-floating">
          <input class="form-control" id="minCharacterLevel" oninput="changeCharacterLevel()" type="text" min="1"
            value="1">
          <label for="minCharacterLevel"> 현재 레벨 </label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input class="form-control" id="maxCharacterLevel" oninput="changeCharacterLevel()" type="text" min="1"
            value="70">
          <label for="maxCharacterLevel">목표 레벨</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row m-1">
      <div class="form-floating">
        <div class="form-control" id="resultExp">213630</div>
        <label for="resultExp">필요 경험치</label>
      </div>
    </div>
    <div class="row m-1">
    <div class="d-flex justify-content-between">
      <div class="col">
        <div class="form-floating">
          <div class="form-control" id="resultGray">20</div>
          <label class="col-sm-2 col-form-label col-form-label-sm" for="resultGray">간이</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <div class="form-control border-success text-success" id="resultGreen">30</div>
          <label class="col-sm-2 col-form-label col-form-label-sm text-success" for="resultGreen">표준</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <div class="form-control border-primary text-primary" id="resultBlue">35</div>
          <label class="col-sm-2 col-form-label col-form-label-sm text-primary" for="resultBlue">고급</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <div class="form-control border-danger text-danger" id="resultPurple">45</div>
          <label class="col-sm-2 col-form-label col-form-label-sm text-danger" for="resultPurple">특급</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <div class="form-control border-warning text-warning" id="resultOrange">30</div>
          <label class="col-sm-2 col-form-label col-form-label-sm text-warning" for="resultOrange">첨단</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <div class="form-control border-info text-info" id="resultRainbow">0</div>
          <label class="col-sm-2 col-form-label col-form-label-sm text-info" for="resultRainbow">극한</label>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

</html>