<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div th:fragment="goodsExp">
  <script th:inline="javascript">
    const goodsExp = /*[[${goodsExpList}]]*/

      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('maxGoodsLevel').value = goodsExp.length;
        document.getElementById('minGoodsLevel').value = 1;
        changeGoodsLevel();
      });

    function changeGoodsLevel() {
      document.getElementById('minGoodsLevel').value = document.getElementById('minGoodsLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      document.getElementById('maxGoodsLevel').value = document.getElementById('maxGoodsLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      const minGoodsLevel = document.getElementById('minGoodsLevel').value;
      const maxGoodsLevel = document.getElementById('maxGoodsLevel').value;

      if (minGoodsLevel > goodsExp.length) {
        document.getElementById('minGoodsLevel').value = goodsExp.length;
      }
      if (maxGoodsLevel > goodsExp.length) {
        document.getElementById('maxGoodsLevel').value = goodsExp.length;
      }

      const goodsExpList = goodsExp.slice(minGoodsLevel, maxGoodsLevel);

      const resultGoodsExp = goodsExpList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);

      document.getElementById('resultGoodsExp').innerText = resultGoodsExp + "";
      document.getElementById('resultBlueGoods').innerText = Math.round(resultGoodsExp / 20) + "개";
      document.getElementById('resultPurpleGoods').innerText = Math.round(resultGoodsExp / 50) + "개";
      document.getElementById('resultYellowGoods').innerText = Math.round(resultGoodsExp / 125) + "개";
    }

  </script>

  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr scope="row">
        <td>
          <div class="input-group">
            <span class="input-group-text"> 현재 레벨 </span>
            <input class="form-control" style="width:50px;" id="minGoodsLevel" oninput="changeGoodsLevel()" type="text"
              min="1">
          </div>
        </td>
        <td>
          <div class="input-group">
            <span class="input-group-text"> 목표 레벨 </span>
            <input class="form-control" style="width:50px;" id="maxGoodsLevel" oninput="changeGoodsLevel()" type="text"
              min="1">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-responsive-sm">
    <thead>
    </thead>
    <tbody>
      <tr class="table-active">
        <th><span>호감도</span></th>
        <th><span> 노랑 </span></th>
        <th><span> 보라 </span></th>
        <th><span> 파랑 </span></th>
      </tr>
      <tr>
        <td>
          <span id="resultGoodsExp">0</span>
        </td>
        <td>
          <span id="resultYellowGoods">0</span>
        </td>
        <td>
          <span id="resultPurpleGoods">0</span>
        </td>
        <td>
          <span id="resultBlueGoods">0</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</html>