<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<th:block th:fragment="goodsExp">


  <div class="row">
    <div class="row">
      <h2 class="col col-md-auto m-2">호감도 경험치 계산기</h2>
    </div>
    <div class="d-flex justify-content-around">
      <div class="col">
        <div class="form-floating">
          <select class="form-select text-light" id="minGoodsLevel" onchange="changeGoodsLevel()">
            <option th:each="level : ${goodsExpList}" th:text="${level.friendlyLevel}"
              th:value="${level.friendlyLevel}"></option>
          </select>
          <label for="minGoodsLevel"> 현재 레벨 </label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <select class="form-select text-light" id="maxGoodsLevel" onchange="changeGoodsLevel()">
            <option th:each="level : ${goodsExpList}" th:text="${level.friendlyLevel}"
              th:value="${level.friendlyLevel}"></option>
          </select>
          <label for="maxGoodsLevel"> 목표 레벨 </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col">
        <div class="form-floating">
          <span class="form-control text-light" id="resultGoodsExp">0</span>
          <label for="resultGoodsExp">호감도</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <span class="form-control border-warning text-warning" id="resultYellowGoods">0</span>
          <label class="text-warning" for="resultYellowGoods"> 특급 </label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <span class="form-control border-danger text-danger" id="resultPurpleGoods">0</span>
          <label class="text-danger" for="resultPurpleGoods"> 고급 </label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <span class="form-control border-primary text-primary" id="resultBlueGoods">0</span>
          <label class="text-primary" for="resultBlueGoods"> 일반 </label>
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>