<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div th:fragment="skillExp">
  <script th:inline="javascript">
    const skillExp = /*[[${skillExpList}]]*/

      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('maxSkillLevel').value = goodsExp.length;
        document.getElementById('minSkillLevel').value = 1;
        changeSkillLevel();
      });

    function changeSkillLevel() {
      document.getElementById('minSkillLevel').value = document.getElementById('minSkillLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      document.getElementById('maxSkillLevel').value = document.getElementById('maxSkillLevel').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      const minSkillLevel = document.getElementById('minSkillLevel').value;
      const maxSkillLevel = document.getElementById('maxSkillLevel').value;

      if (minSkillLevel > skillExp.length) {
        document.getElementById('minSkillLevel').value = skillExp.length;
      }
      if (maxSkillLevel > skillExp.length) {
        document.getElementById('maxSkillLevel').value = skillExp.length;
      }

      const skillExpList = skillExp.slice(minSkillLevel, maxSkillLevel);

      const resultExp = skillExpList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);
      const resultCore = skillExpList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.core);
      }, 0);

      document.getElementById('resultSkillExp').innerText = resultExp + "";
      document.getElementById('resultSkillCore').innerText = resultCore + "";
    }

  </script>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr scope="row">
        <td>
          <div class="input-group">
          <span class="input-group-text"> 현재 레벨 </span>
          <input class="form-control" style="width:130px;"  id="minSkillLevel" oninput="changeSkillLevel()" type="text" min="1">
          </div>
        </td>
        <td>
          <div class="input-group">
          <span class="input-group-text"> 목표 레벨 </span>
          <input class="form-control" style="width:130px;"  id="maxSkillLevel" oninput="changeSkillLevel()" type="text" min="1">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <thead>
  </thead>
  <tbody>
    <table class="table">
      <tr>
        <th>스킬 경험치</th>
        <th>스킬 코어</th>
      </tr>
      <tr>
        <td>
          <p id="resultSkillExp">0
        </td>
        <td>
          <p id="resultSkillCore">0
        </td>
      </tr>
  </tbody>
  </table>
</div>

</html>