<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->

<!-- Content -->
<div th:fragment="starExp">

  <script th:inline="javascript">
    const starExp = /*[[${starExpList}]]*/
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('maxStarLevel').value = starExp.length;
        document.getElementById('minStarLevel').value = 1;
        document.getElementById('buyPiece').value = 0;
        changeStarLevel();
      });

    function changeStarLevel() {
      const minStarLevel = document.getElementById('minStarLevel').value;
      const maxStarLevel = document.getElementById('maxStarLevel').value;
      document.getElementById('buyPiece').value = document.getElementById('buyPiece').value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');

      let buyPiece = 0;

      if (document.getElementById('buyPiece').value == '' || document.getElementById('buyPiece').value == undefined) {
        buyPiece = 0;
      } else {
        buyPiece = parseInt(document.getElementById('buyPiece').value);
      }

      const skillExpList = starExp.slice(minStarLevel, maxStarLevel);

      const resultExp = skillExpList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);

      if (buyPiece > parseInt(resultExp)) {
        document.getElementById('buyPiece').value = resultExp;
      }

      document.getElementById('resultStarExp').innerText = (resultExp - buyPiece) + "";

      document.getElementById('minDate').innerText = Math.ceil((resultExp - buyPiece) / 12) + "일";
      document.getElementById('aveDate').innerText = Math.ceil((resultExp - buyPiece) / 7) + "일";
      document.getElementById('maxDate').innerText = Math.ceil((resultExp - buyPiece) / 6) + "일";

      let needPiece = 0;

      for (i = buyPiece; i < parseInt(resultExp); i++) {
        if (i <= 25) {
          needPiece += 5;
        } else if (i > 25 && i <= 50) {
          needPiece += 10;
        } else if (i > 50 && i <= 75) {
          needPiece += 15;
        } else if (i > 75 && i <= 100) {
          needPiece += 20
        } else if (i > 100) {
          needPiece += 25
        }
      }
      document.getElementById('needPiece').innerText = needPiece;

    }

  </script>

  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="input-group">
            <span class="input-group-text">
              기초 성급
            </span>
            <select class="form-control" style="width:120px;" id="minStarLevel" onChange="changeStarLevel()">
              <option value="1">★</option>
              <option value="2">★☆</option>
              <option value="3">★★</option>
              <option value="4">★★☆</option>
              <option value="5">★★★</option>
              <option value="6">★★★☆</option>
              <option value="7">★★★★</option>
              <option value="8">★★★★☆</option>
              <option value="9">★★★★★</option>
            </select>
          </div>
        </th>
        <th>
          <div class="input-group">
            <span class="input-group-text"> 목표 성급 </span>
            <select class="form-control" style="width:120px;" id="maxStarLevel" onChange="changeStarLevel()">
              <option value="1">★</option>
              <option value="2">★☆</option>
              <option value="3">★★</option>
              <option value="4">★★☆</option>
              <option value="5">★★★</option>
              <option value="6">★★★☆</option>
              <option value="7">★★★★</option>
              <option value="8">★★★★☆</option>
              <option value="9">★★★★★</option>
            </select>
          </div>
        </th>
      <tr>
        <td>
          <div class="input-group">
            <span class="input-group-text"> 구입 조각 </span>
            <input class="form-control" style="width:120px;" type="number" id="buyPiece" oninput="changeStarLevel()"
              value="0" />
          </div>
        </td>
        <td>
          <div class="input-group">
            <span class="input-group-text"> 필요 파편 </span>
            <span style="width:120px;" class="form-control" id="needPiece" readonly>0</span>
          </div>
        </td>
      </tr>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr class="table-active">
        <th>필요 조각</th>
        <th>최소 시간</th>
        <th>평균 시간</th>
        <th>최대 시간</th>
      </tr>
      <tr>
        <td>
          <p id="resultStarExp">0</p>
        </td>
        <td>
          <p id="minDate">0</p>
        </td>
        <td>
          <p id="aveDate">0</p>
        </td>
        <td>
          <p id="maxDate">0</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</html>