<!DOCTYPE html>
<html lang = "ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->

<!-- Content -->
<div th:fragment="starExp">

  <script th:inline="javascript">
    const starExp = /*[[${starExpList}]]*/
    document.addEventListener("DOMContentLoaded", function(){
      document.getElementById('maxStarLevel').value = starExp.length;
      document.getElementById('minStarLevel').value = 1;
      changeStarLevel();
    });

    function changeStarLevel() {

      const minStarLevel = document.getElementById('minStarLevel').value;
      const maxStarLevel = document.getElementById('maxStarLevel').value;

      const skillExpList = starExp.slice(minStarLevel, maxStarLevel);

      const resultExp = skillExpList.reduce(function add(sum, currValue) {
        return parseInt(sum) + parseInt(currValue.exp);
      }, 0);

      document.getElementById('resultStarExp').innerText = resultExp + "";

      document.getElementById('minDate').innerText = Math.round(resultExp/12) + "일";
      document.getElementById('aveDate').innerText = Math.round(resultExp/7) + "일";
      document.getElementById('maxDate').innerText = Math.round(resultExp/6) + "일";


    }

  </script>

      <div class="row">
        <div class="col">
          기초 성급
          <select id="minStarLevel" onChange="changeStarLevel()">
            <option value="1">★</option>
            <option value="2">★☆</option>
            <option value="3">★★</option>
            <option value="4">★★☆</option>
            <option value="5">★★★</option>
            <option value="6">★★★☆</option>
            <option value="7">★★★★</option>
            <option value="8">★★★★☆</option>
            <option value="9">★★★★★</option>
          </select>
        </div>
        <div class="col">
          목표 성급
          <select id="maxStarLevel" onChange="changeStarLevel()">
            <option value="1">★</option>
            <option value="2">★☆</option>
            <option value="3">★★</option>
            <option value="4">★★☆</option>
            <option value="5">★★★</option>
            <option value="6">★★★☆</option>
            <option value="7">★★★★</option>
            <option value="8">★★★★☆</option>
            <option value="9">★★★★★</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">필요 조각</div>
        <div class="col">
          <p id="resultStarExp">0
        </div>
        <div class="col">최소 시간</div>
        <div class="col">
          <p id="minDate"></p>
        </div>
        <div class="col">평균 시간</div>
        <div class="col">
          <p id="aveDate"></p>
        </div>
        <div class="col">최대 시간</div>
        <div class="col">
          <p id="maxDate"></p>
        </div>
      </div>


</div>
</html>