spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  #thymeleaf 설정
  thymeleaf:
    characterEncoding: utf-8
    cache: false
    prefix: classpath:templates/
    suffix: .html

  #datasource oracle cloud DB 설정
  datasource:
    driverClassName: oracle.jdbc.OracleDriver
    password: Pol20222022
    username: polstory
    url: jdbc:oracle:thin:@BasicKim?TNS_ADMIN=./src/main/resources/wallet
#    url: jdbc:oracle:thin:@BasicKim?TNS_ADMIN=/mnt/hgfs/test/wallet

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace