<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    const character = /*[[${character}]]*/

      document.addEventListener("DOMContentLoaded", function () {
        defaultStarSet()
      });
    function defaultStarSet() {
      switch (character.defaultStar) {
        case 1: document.getElementById('defaultStar').innerText = '★'
          break;
        case 3: document.getElementById('defaultStar').innerText = '★★'
          break;
        case 5: document.getElementById('defaultStar').innerText = '★★★'
          break;
      }
    }

  </script>
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">

  <div class="row m-1" th:if="${#lists.size(character.skinDtoList) != 0}">
    <div class="col p-1">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="" th:each="skins , i : ${character.skinDtoList}" type="button"
            data-bs-target="#carouselExampleIndicators" th:data-bs-slide-to="${i.index}"
            th:classappend="${i.count == 1} ? 'active' : ''" th:aria-current="${i.count == 1} ? 'true' : ''"
            th:aria-label="${'Slide ' +i.count}"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" th:each="skins , i : ${character.skinDtoList}"
            th:classappend="${i.count == 1} ? 'active' : ''">
            <div class="card">
              <img th:src="${skins.stdName}" class="card-img" alt="..."
                onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
              <div class="card-img-overlay">
                <form sec:authorize="isAuthenticated()" class="card-title" th:action="@{/insert/saveSkins}"
                  method="get">
                  <input type="hidden" name="name" th:value="${character.characterName}">
                  <button class="btn btn-sm btn-danger" type="submit">스킨 수정</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row m-1" th:if="${#lists.size(character.skinDtoList)} == 0">
    <div class="col">
      <div class="card">
        <img class="card-img" th:src="${character.profile}"
          onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
        <div class="card-img-overlay">
          <form sec:authorize="isAuthenticated()" class="card-title" th:action="@{/insert/saveSkins}" method="get">
            <input type="hidden" name="name" th:value="${character.characterName}">
            <button class="btn btn-sm btn-danger" type="submit">스킨 수정</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="m-1">
    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="col col-md p-1">
          <div class="form-floating">
            <span class="form-control text text-light" id="name" th:text="${character.characterName}">
            </span>
            <label for="name">이름</label>
          </div>
        </div>
        <div class="col col-md p-1">
          <div class="form-floating">
            <div class="form-control text text-light" id="companyType" th:text="${character.companyType}">
            </div>
            <label for="companyType">company</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="col col-md p-1">
          <div class="form-floating">
            <span class="form-control" id="defaultStar" th:text="${character.defaultStar}" th:classappend="${
                        (character.defaultStar == 1 ? ' text-primary' : '') +
                        (character.defaultStar == 3 ? ' text-danger' : '') +
                        (character.defaultStar == 5 ? ' text-warning' : '')}">
            </span>
            <label for="defaultStar">star</label>
          </div>
        </div>
        <div class="col col-md p-1">
          <div class="form-floating">
            <span class="form-control text text-light" id="roleType" th:text="${character.roleType}">
            </span>
            <label for="roleType">class</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="col col-md p-1">
          <div class="form-floating">
            <span class="form-control" id="dealType" th:text="${character.dealType}" th:classappend="${
                        (character.dealType == '연산' ? ' text-primary' : '') +
                        (character.dealType == '복합' ? ' text-danger' : '') +
                        (character.dealType == '물리' ? ' text-warning' : '')}">
            </span>
            <label for="dealType">deal stat</label>
          </div>
        </div>
        <div class="col col-md p-1">
          <div class="form-floating">
            <span class="form-control text text-light" id="areaType" th:text="${character.areaType}">
            </span>
            <label for="areaType">area type</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end">
        <form sec:authorize="isAuthenticated()" th:action="@{/insert/saveCharacter}" method="get">
          <input type="hidden" name="name" th:value="${character.characterName}">
          <button class="btn btn-sm btn-danger m-1" type="submit">기본 정보 수정</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row text-light border m-1"><span class="m-1">스킬</span></div>
  <div class="row m-1" th:each="skills : ${character.characterSkillsDtoList}" th:if="${skills.skillType == '패시브'}">
    <div class="border border-primary">
      <div class="row"><span class="text-light" th:text="${skills?.skillName}"></span></div>
      <div class="row"><span class="text-wrap" th:id="${skills.skillName}" th:text="${skills.explain}"></span></div>
      <div class="row">
        <hr class="border-primary">
        <span th:text="${skills?.effect}"></span>
      </div>
    </div>
  </div>
  <div class="row m-1" th:each="skills : ${character.characterSkillsDtoList}" th:if="${skills.skillType == '액티브'}">
    <div class="border border-danger">
      <div class="row"><span class="text-light" th:text="${skills?.skillName}"></span></div>
      <div class="row"><span class="text-wrap" th:id="${skills.skillName}" th:text="${skills.explain}"></span></div>
      <div class="row">
        <hr class="border-danger">
        <span th:text="${skills?.effect}"></span>
      </div>
    </div>
  </div>
  <div class="row m-1" th:each="skills : ${character.characterSkillsDtoList}" th:if="${skills.skillType == '궁극기'}">
    <div class="border border-warning">
      <div class="row"><span class="text-light" th:text="${skills?.skillName}"></span></div>
      <div class="row"><span class="text-wrap" th:id="${skills.skillName}" th:text="${skills.explain}"></span></div>
      <div class="row">
        <hr class="border-warning">
        <span th:text="${skills?.effect}"></span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <form sec:authorize="isAuthenticated()" th:action="@{/insert/saveCharacter}" method="get">
      <input type="hidden" name="name" th:value="${character.characterName}">
      <button class="btn btn-sm btn-danger m-1" type="submit">스킬 수정</button>
    </form>
  </div>

  <div class="row m-1 border">
    <div class="text-light">호감도 아이템</div>
    <div class="d-flex justify-content-start">
      <div class="col" th:each="goods : ${character.goodsCharacterDtoList}" th:classappend="${
                        (goods.goodsLevel == 1 ? ' text-primary' : '') +
                        (goods.goodsLevel == 2 ? ' text-danger' : '') +
                        (goods.goodsLevel == 3 ? ' text-warning' : '')}" th:text="${goods.goodsName}"></div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <form sec:authorize="isAuthenticated()" th:action="@{/insert/saveCharacter}" method="get">
      <input type="hidden" name="name" th:value="${character.characterName}">
      <button class="btn btn-sm btn-danger m-1" type="submit">아이템 수정</button>
    </form>
  </div>


  <div class="row border m-1">
    <div class="text-light m-1">호감도 스탯</div>
    <div class="row" th:each="goodsStatus : ${character.goodsStatusCharactersDtoList}">
      <div class="col" th:text="${goodsStatus.statusName}"></div>
      <div class="col-8" th:id="${goodsStatus?.status}" th:text="${goodsStatus?.status}">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <form sec:authorize="isAuthenticated()" th:action="@{/insert/saveCharacter}" method="get">
      <input type="hidden" name="name" th:value="${character.characterName}">
      <button class="btn btn-sm btn-danger m-1" type="submit">호감도 스탯 수정</button>
    </form>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-border">
        <thead>
          <tr>
            <th class="table-active"><span>타입</span></th>
            <th class="table-active"><span>세트</span></th>
            <th class="table-active"><span>세트옵션</span></th>
            <th class="table-active"><span>메인옵션</span></th>
            <th class="table-active"><span>서브옵션</span></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="algorithm : ${character.characterAlgorithmDtoList}">
            <td class="text-break"><span th:text="${algorithm?.algorithmType}"></span></td>
            <td class="text-break"><span th:text="${algorithm?.setAlgorithmDto.setAlgorithmName}"></span></td>
            <td class="text-break"><span th:text="${algorithm?.setAlgorithmDto.twoSetOpt}"></span><br><span
                th:text="${algorithm?.setAlgorithmDto?.threeSetOpt}"></span></td>
            <td class="text-break"><span th:text="${algorithm?.mainOpt}"></span></td>
            <td class="text-break"><span th:text="${algorithm?.subOpt1}"></span><br><span
                th:text="${algorithm?.subOpt2}"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <form sec:authorize="isAuthenticated()" th:action="@{/insert/algorithm}" method="get">
      <input type="hidden" name="name" th:value="${character.characterName}">
      <button class="btn btn-sm btn-danger m-1" type="submit">알고리즘 수정</button>
    </form>
  </div>
</div>

</html>