<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
        const character = /*[[${character}]]*/;
        const skills = character.characterSkillsDtoList;
        const pasSkillLevel = skills[0].skillLevelDtoList;
        const actSkillLevel = skills[1].skillLevelDtoList;
        const ultSkillLevel = skills[2].skillLevelDtoList;

        document.addEventListener("DOMContentLoaded", function () {
        document.getElementById(character.characterSkillsDtoList[0].skillName).innerText = skills[0].explain.replace([1],pasSkillLevel[pasSkillLevel.length].status1);
        document.getElementById(character.characterSkillsDtoList[1].skillName).innerText = skills[1].explain.replace([1],pasSkillLevel[actSkillLevel.length].status1);
        document.getElementById(character.characterSkillsDtoList[2].skillName).innerText = skills[2].explain.replace([1],pasSkillLevel[ultSkillLevel.length].status1);
        document.getElementById(character.characterSkillsDtoList[0].skillName).innerText = skills[0].explain.replace([2],pasSkillLevel[pasSkillLevel.length].status2);
        document.getElementById(character.characterSkillsDtoList[1].skillName).innerText = skills[1].explain.replace([2],pasSkillLevel[actSkillLevel.length].status2);
        document.getElementById(character.characterSkillsDtoList[2].skillName).innerText = skills[2].explain.replace([2],pasSkillLevel[ultSkillLevel.length].status2);
        document.getElementById(character.characterSkillsDtoList[0].skillName).innerText = skills[0].explain.replace([3],pasSkillLevel[pasSkillLevel.length].status3);
        document.getElementById(character.characterSkillsDtoList[1].skillName).innerText = skills[1].explain.replace([3],pasSkillLevel[actSkillLevel.length].status3);
        document.getElementById(character.characterSkillsDtoList[2].skillName).innerText = skills[2].explain.replace([3],pasSkillLevel[ultSkillLevel.length].status3);
        document.getElementById(character.characterSkillsDtoList[0].skillName).innerText = skills[0].explain.replace([4],pasSkillLevel[pasSkillLevel.length].status4);
        document.getElementById(character.characterSkillsDtoList[1].skillName).innerText = skills[1].explain.replace([4],pasSkillLevel[actSkillLevel.length].status4);
        document.getElementById(character.characterSkillsDtoList[2].skillName).innerText = skills[2].explain.replace([4],pasSkillLevel[ultSkillLevel.length].status4);
      });
    </script>
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="row m-5">
    <div class="col col-md-2">
      <img th:src="${'/image/character/'+character.characterName+'.png'}" onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
    </div>
    <div class="col col-md-10">
      <table class="table table-border">
        <tbody>
        <tr>
          <th class="table-active">name</th>
          <td><p th:text="${character.characterName}"></p></td>
          <th class="table-active">
            <p>company</p>
          </th>
          <td><p th:text="${character.companyType}"></p></td>
        </tr>
        <tr>
          <th class="table-active">
            <p>class</p>
          </th>
          <td><p th:text="${character.roleType}"></p></td>
          <th class="table-active">
            <p>star</p>
          </th>
          <td><p th:text="${character.defaultStar}"></p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row m-5">
    <thead>
    <table class="table table-border">
      <tr>
        <th class="table-active"><p>type</p></th>
        <th class="table-active"><p>skill name</p></th>
        <th class="table-active"><p>skill effect</p></th>
        <th class="table-active"><p>sub effect</p></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="skills : ${character.characterSkillsDtoList}">
        <td class="text-break" style="width: 1rem;" th:id="${skills?.skillType}"><p th:text="${skills?.skillType}"></p></td>
        <td class="text-break" style="width: 2rem;"><p th:text="${skills?.skillName}"></p></td>
        <td class="text-break" style="width: 16rem;"><p th:id="${skills.skillName}" th:text="${skills?.explain}"></p></td>
        <td class="text-break" style="width: 6rem;"><p th:text="${skills?.effect}"></p></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row m-5">
    <table class="table table-border">
      <thead>
      <tr>
        <th class="table-active"><p>아이템</p></th>
        <th class="table-active"><p>선호도</p></th>
        <th class="table-active"><p>티어</p></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="goods : ${character.goodsCharacterDtoList}" >
        <td class="text-break"><p th:text="${goods.goodsName}"></p></td>
        <td class="text-break"><p th:if="${goods.goodsLike}">좋아함</p>
          <p th:if="${!goods.goodsLike}">싫어함</p></td>
        <td class="text-break"><p th:text="${goods.goodsLevel}"></p></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row m-5">
    <table class="table table-border">
      <tbody>
      <tr>
        <th class="table-active"><p>능력치</p></th>
        <th class="table-active"><p>스탯</p></th>
      </tr>
      <tr th:each="goodsStatus : ${character.goodsStatusCharactersDtoList}">
        <td class="text-break"><p th:text="${goodsStatus?.statusName}"></p></td>
        <td class="text-break"><p th:text="${goodsStatus?.status}"></p></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row m-5">
    <table class="table table-border">
      <thead>
      <tr>
        <th class="table-active"><p>타입</p></th>
        <th class="table-active"><p>세트</p></th>
        <th class="table-active"><p>세트옵션</p></th>
        <th class="table-active"><p>메인옵션</p></th>
        <th class="table-active"><p>서브옵션</p></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="algorithm : ${character.characterAlgorithmDtoList}">
        <td class="text-break"><p th:text="${algorithm?.algorithmType}"></p></td>
        <td class="text-break"><p th:text="${algorithm?.setAlgorithmDto.setAlgorithmName}"></p></td>
        <td class="text-break"><p th:text="${algorithm?.setAlgorithmDto.twoSetOpt}"></p><p th:text="${algorithm?.setAlgorithmDto?.threeSetOpt}"></p></td>
        <td class="text-break"><p th:text="${algorithm?.mainOpt}"></p></td>
        <td class="text-break"><p th:text="${algorithm?.subOpt1}"></p><p th:text="${algorithm?.subOpt2}"></p></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</html>