<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<main role="main" class="container">
    <div layout:fragment="content" class="starter-template">
        <div class="card mb-3" style="max-width: 300px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="/image/잉켈스.png" class="card-img-top p-1 img-fluid" alt="...">
                </div>
                <div class="col-md-6 g-0">
                    <div class="card-body">
                        <p class="card-title">이름</p>
                        <div class="row">직업</div>
                        <div class="row">타입</div>
                        <div class="row">범위</div>
                        <div class="row">회사</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>