<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script th:inline="javascript">
        const characterList = /*[[${characterList}]]*/
    </script>
</th:block>

<main role="main" class="container-fluid">

    <div layout:fragment="content">

        <div class="row m-1">
            <h3>수위</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-left row-cols-auto">
            <div class="col border" th:each="characterList : ${characterList}" th:if="${characterList.roleType.equals('수위')}"
                th:onclick="|location.href='@{/information/character(name=${characterList.characterName})}'|"
                style="max-width:93px;">
                <img th:id="${characterList.characterName}" th:src="@{${characterList.profile}}" class="img-fluid"
                    onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
                <div th:text="${characterList.characterName}" class="text text-center" th:classappend="${
                        (characterList.defaultStar == 1 ? ' text-primary' : '') +
                        (characterList.defaultStar == 3 ? ' text-danger' : '') +
                        (characterList.defaultStar == 5 ? ' text-warning' : '')}">
                    이름
                </div>
            </div>
        </div>
        <hr class="border border-danger border-2">


        <div class="row m-1">
            <h3>사수</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-left">
            <div class="col border" th:each="characterList : ${characterList}" th:if="${characterList.roleType.equals('사수')}"
                th:onclick="|location.href='@{/information/character(name=${characterList.characterName})}'|"
                style="min-width:93px; max-width:93px;">
                <img th:id="${characterList.characterName}" th:src="@{${characterList.profile}}" class="img-fluid"
                    onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
                <div th:text="${characterList.characterName}" class="text text-center" th:classappend="${
                        (characterList.defaultStar == 1 ? ' text-primary' : '') +
                        (characterList.defaultStar == 3 ? ' text-danger' : '') +
                        (characterList.defaultStar == 5 ? ' text-warning' : '')}">
                    이름
                </div>
            </div>
        </div>
        <hr class="border border-danger border-2">


        <div class="row m-1">
            <h3>전사</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-left">
            <div class="col border" th:each="characterList : ${characterList}" th:if="${characterList.roleType.equals('전사')}"
                th:onclick="|location.href='@{/information/character(name=${characterList.characterName})}'|"
                style="min-width:93px; max-width:93px;">
                <img th:id="${characterList.characterName}" th:src="@{${characterList.profile}}" class="img-fluid"
                    onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
                <div th:text="${characterList.characterName}" class="text text-nowrap text-center" th:classappend="${
                        (characterList.defaultStar == 1 ? ' text-primary' : '') +
                        (characterList.defaultStar == 3 ? ' text-danger' : '') +
                        (characterList.defaultStar == 5 ? ' text-warning' : '')}">
                    이름
                </div>
            </div>
        </div>
        <hr class="border border-danger border-2">


        <div class="row m-1">
            <h3>치료사</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-left">
            <div class="col border" th:each="characterList : ${characterList}" th:if="${characterList.roleType.equals('치료사')}"
                th:onclick="|location.href='@{/information/character(name=${characterList.characterName})}'|"
                style="min-width:93px; max-width:93px;">
                <img th:id="${characterList.characterName}" th:src="@{${characterList.profile}}" class="img-fluid"
                    onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
                <div th:text="${characterList.characterName}" class="text text-center" th:classappend="${
                        (characterList.defaultStar == 1 ? ' text-primary' : '') +
                        (characterList.defaultStar == 3 ? ' text-danger' : '') +
                        (characterList.defaultStar == 5 ? ' text-warning' : '')}">
                    이름
                </div>
            </div>
        </div>
        <hr class="border border-danger border-2">

        <div class="row m-1">
            <h3>해결사</h3>
        </div>
        <div class="d-flex flex-wrap justify-content-left">
            <div class="col border" th:each="characterList : ${characterList}" th:if="${characterList.roleType.equals('해결사')}"
                th:onclick="|location.href='@{/information/character(name=${characterList.characterName})}'|"
                style="min-width:93px; max-width:93px;">
                <img th:id="${characterList.characterName}" th:src="@{${characterList.profile}}" class="img-fluid"
                    onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
                <div th:text="${characterList.characterName}" class="text text-center" th:classappend="${
                        (characterList.defaultStar == 1 ? ' text-primary' : '') +
                        (characterList.defaultStar == 3 ? ' text-danger' : '') +
                        (characterList.defaultStar == 5 ? ' text-warning' : '')}">
                    이름
                </div>
            </div>
        </div>
        <hr class="border border-danger border-2">
    </div>
</main>