<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="row"><span>고장협의 리스트</span></div>

        <div class="d-flex flex-wrap" th:each="EpPool : ${EpPoolList}">
            <input type="hidden" id="epIndex" name="epIndex" th:value="${EpPool.epPoolIndex}">
            <div class="col-2 form-floating">
                <div class="form-control text-light" id="index" th:text="${EpPool.epPoolIndex}+'회'"></div>
                <label for="index">회차</label>
            </div>
            <div class="col-10 form-floating">
                <div class="form-control text-light" id="date" th:text="${EpPool.startDate+' 일 ~ '+EpPool.endDate+' 일'}"></div>
                <label for="date">기간</label>
            </div>
            <div class="col-4 form-floating">
                <div class="form-control text-light" id="fst" th:text="${EpPool.fstStage}"></div>
                <label for="fst">1층</label>
            </div>
            <div class="col-4 form-floating">
                <div class="form-control text-light" id="snd" th:text="${EpPool.sndStage}"></div>
                <label for="snd">2층</label>
            </div>
            <div class="col-4 form-floating">
                <div class="form-control text-light" id="thd" th:text="${EpPool.thdStage}"></div>
                <label for="thd">3층</label>
            </div>
            <div class="col-12 form-floating input-group">
                <div class="form-control text-light" id="boss" th:text="${EpPool.bossName}"></div>
                <button class="btn btn-input btn-primary" type="submit">상세 정보</button>
                <label for="boss">보스</label>
            </div>
            <div class="col-12">
                <br>
            </div>
            <div class="d-flex flex-wrap" th:each="EpParty : ${EpPool.epPartyDtoList}"
                 th:classappend="${(EpParty.epPartyIndex == 0 ? 'col-lg-12 row-cols-auto' : 'col-lg-6 row-cols-8')}">
                <div class="col-12  border rounded">
                    <span class="m-1" th:if="${EpParty.epPartyIndex == 0}" th:text="${'캐릭터 풀'}"></span>
                    <span class="m-1" th:unless="${EpParty.epPartyIndex == 0}" th:text="${'추천파티 '+EpParty.epPartyIndex+'번'}"></span>
                </div>
                <div class="col card border" th:each="EpMember : ${EpParty.epMemberDtoList}"
                     th:onclick="|location.href='@{/information/character(name=${EpMember.characterName})}'|"
                     th:classappend="${
                     (EpMember.support == 1 ? 'border-primary' : '') +
                     (EpMember.reinforce == 1 ? 'border-danger' : '')}"
                     style="max-width:20%;"
                     >
                    <img th:id="${EpMember.characterName}" th:src="@{${EpMember.profile}}" class="card-img img-fluid"
                         onerror="this.onerror=null; this.src='/image/character/케릭터.png';">
                    <div class="card-img-overlay p-1">
                        <img th:src="'/image/basic/profile/'+${EpMember.roleType}+'.png'"
                             class="img-fluid rounded bg-opacity-75 position-absolute top-0 start-0" style="max-width:25%;"
                             th:classappend="${
                        (EpMember.roleType == '수위' ? 'bg-primary' : '') +
                        (EpMember.roleType == '치료사' ? 'bg-success' : '') +
                        (EpMember.roleType == '사수' ? 'bg-info' : '')+
                        (EpMember.roleType == '전사' ? 'bg-warning' : '')+
                        (EpMember.roleType == '해결사' ? 'bg-danger' : '')}">
                    </div>
                    <div th:text="${EpMember.characterName}" class="badge text-nowrap text-center" th:classappend="${
                        (EpMember.defaultStar == 1 ? ' text-primary' : '') +
                        (EpMember.defaultStar == 3 ? ' text-danger' : '') +
                        (EpMember.defaultStar == 5 ? ' text-warning' : '')}">
                        이름
                    </div>
                </div>
                <div class="col-12"><br></div>
            </div>
        </div>
    <form method="get" th:action="@{/insert/saveEpPool}">
        <input type="hidden" name="epIndex" value="0">
        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>

</html>