<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    const types = /*[[$type]]*/;

      document.addEventListener("DOMContentLoaded", function () {
        selectType()
      });
    function selectType() {
    if(document.getElementById('skinType').value == 'input'){
        document.getElementById('skinType')
      } else {
        document.getElementById('inputType').value =
        document.getElementById('skinType').value;
      }
    }

  </script></th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="row row-cols-auto m-1">
    <div class="col">
      <img class="img-fluid">
    </div>
    <div class="col">
    <form th:action="@{/insert/saveSkins}" method="post" th:object="${SkinSaveDto}" enctype="multipart/form-data">
      <div class="form-floating">
        <input class="form-control" id="name" th:field="*{characterName}" readonly>
        <label for="name">이름</label>
      </div>
      <div class="d-flex">
        <div class="col">
          <div class="form-floating">
            <select class="form-control" onchange="selectType()" id="skinType">
              <option th:value="${type}" th:each="type, i : ${skinType}" th:text="${type}"></option>
              <option value="input">직접 입력</option>
            </select>
            <label for="skinType">스킨 타입</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input type="text" id="inputType" class="form-control" th:field="*{type}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-floating">
          <input class="form-control" type="file" th:field="*{file}" multiple="multiple">
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">저장</button>
      </div>
    </form>
    </div>
  </div>
</div>

</html>