<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <form th:action="@{/insert/saveAlgorithm}" method="post" th:object="${characterAlgorithm}">
    <div class="row m-1">
      <div class="col">
        <div class="form-floating">
          <input class="form-control" th:id="name" th:value="${name}" readonly>
          <label class="text-light" th:for="name">이름</label>
        </div>
      </div>
    </div>
    <div class="row m-1" th:each="algorithmSaveDto , item : *{algorithmSaveDto}">
      <input type="hidden" th:value="${name}" th:field="*{algorithmSaveDto[__${item.index}__].characterName}">
      <div class="d-flex">
        <div class="col">
          <div class="form-floating">
            <input class="form-control" th:id="*{algorithmSaveDto[__${item.index}__].AlgorithmType}"
              th:field="*{algorithmSaveDto[__${item.index}__].AlgorithmType}" readonly>
            <label class="text-light" th:for="*{algorithmSaveDto[__${item.index}__].AlgorithmType}">타입</label>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col">
          <div class="form-floating">
            <select class="form-control" th:id="*{algorithmSaveDto[__${item.index}__].setAlgorithm}"
              th:field="*{algorithmSaveDto[__${item.index}__].setAlgorithm}">
              <option th:if="${#strings.equals(setAlgorithm.type,algorithmSaveDto.AlgorithmType)}"
                th:each="setAlgorithm : ${setAlgorithmList}" th:value="${setAlgorithm.setAlgorithmName}"
                th:text="${setAlgorithm.setAlgorithmName}"></option>
            </select>
            <label th:for="*{algorithmSaveDto[__${item.index}__].setAlgorithm}">세트 이름</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-control" th:id="*{algorithmSaveDto[__${item.index}__].mainAlgorithm}"
              th:field="*{algorithmSaveDto[__${item.index}__].mainAlgorithm}">
              <option
                th:if="${#strings.equals(mainAlgorithm.type,algorithmSaveDto.AlgorithmType) || #strings.equals(mainAlgorithm.type , '올타입')}"
                th:each="mainAlgorithm : ${mainAlgorithmList}" th:value="${mainAlgorithm.mainOpt}"
                th:text="${mainAlgorithm.mainOpt}"></option>
            </select>
            <label th:for="*{algorithmSaveDto[__${item.index}__].mainAlgorithm}">메인 옵션</label>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="col">
          <div class="form-floating">
            <select class="form-control" th:id="*{algorithmSaveDto[__${item.index}__].subAlgorithm}"
              th:field="*{algorithmSaveDto[__${item.index}__].subAlgorithm}">
              <option
                th:if="${#strings.equals(subAlgorithm.type,algorithmSaveDto.AlgorithmType) || #strings.equals(subAlgorithm.type , '올타입')}"
                th:each="subAlgorithm : ${subAlgorithmList}" th:value="${subAlgorithm.subOpt}"
                th:text="${subAlgorithm.subOpt}"></option>
            </select>
            <label th:for="*{algorithmSaveDto[__${item.index}__].subAlgorithm}">서브 옵션 1</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select class="form-control" th:id="*{algorithmSaveDto[__${item.index}__].subAlgorithm2}"
              th:field="*{algorithmSaveDto[__${item.index}__].subAlgorithm2}">
              <option
                th:if="${#strings.equals(subAlgorithm.type,algorithmSaveDto.AlgorithmType) || #strings.equals(subAlgorithm.type , '올타입')}"
                th:each="subAlgorithm : ${subAlgorithmList}" th:text="${subAlgorithm.subOpt}"
                th:value="${subAlgorithm.subOpt}"></option>
            </select>
            <label th:for="*{algorithmSaveDto[__${item.index}__].subAlgorithm2}">서브 옵션 1</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-1">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">저장</button>
      </div>
    </div>
  </form>
</div>

</html>