<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        const recommendParty = /*[[${recommendParty}]]*/
        const allCharacters = /*[[${allCharacters}]]*/

        document.addEventListener("DOMContentLoaded", function () {
        onLoad()
      });

        function onLoad(){
            const partyInt = recommendParty.recommendPartyDtoList.length;
            for(let i = 0; i < partyInt; i++){
                const memberInt = recommendParty.recommendPartyDtoList[i].memberDtoList.length;
                for(let j = 0; j < memberInt; j++){
                if(!document.getElementById('showCharacter'+i+''+j).parentNode.querySelector('.text-light').value){
                    console.log('if');
                    document.getElementById('showCharacter'+i+''+j).parentNode.querySelector('.text-light').value = 'null'
                }
                    document.getElementById('showCharacter'+i+''+j).value =
                    allCharacters.findIndex(name => name.characterName == document.getElementById('showCharacter'+i+''+j).parentNode.querySelector('.text-light').value);
                }
            }
        }

        function selectCharacter(e){
        const roleClass = 'img-fluid rounded bg-opacity-75 position-absolute top-0 start-0'
            if(e.value == ''){
                e.parentNode.querySelector('.text-light').value = '';
                e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').src = '/image/basic/upload.png';
                e.parentNode.parentNode.querySelector('img').src = '/image/basic/upload.png';
                e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').className = roleClass;
            } else {
            e.parentNode.parentNode.querySelector('img').src = allCharacters[e.value].profile;
            e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').src = '/image/basic/profile/'+allCharacters[e.value].roleType+'.png';
            e.parentNode.querySelector('.text-light').value = allCharacters[e.value].characterName;
            switch(allCharacters[e.value].roleType){
                case '수위': e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').className =
                            roleClass + ' bg-primary'
                    break;
                case '치료사': e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').className =
                              roleClass + ' bg-success'
                    break;
                case '해결사': e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').className =
                            roleClass + ' bg-danger'
                    break;
                case '전사': e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').className =
                            roleClass + ' bg-warning'
                    break;
                case '사수': e.parentNode.parentNode.querySelector('.card-img-overlay').querySelector('img').className =
                            roleClass + ' bg-info'
                    break;
                }
            }
        }
        let nodeNum = 0;
        function addNode(e){
           const oldNode = document.getElementById('main'+nodeNum);
           const newNode = oldNode.cloneNode(true);
           nodeNum += 1;
           newNode.id = 'main'+nodeNum;
           newNode.querySelector('.d-flex .name').name = 'recommendPartyDtoList['+nodeNum+'].characterName';
           newNode.querySelector('.d-flex .name').id = 'recommendPartyDtoList'+nodeNum+'.characterName';
           newNode.querySelector('.d-flex .index').name = 'recommendPartyDtoList['+nodeNum+'].partyIndex';
           newNode.querySelector('.d-flex .index').id = 'recommendPartyDtoList'+nodeNum+'.partyIndex';
           newNode.querySelector('.d-flex')


           console.log(newNode);
        }
    </script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <form method="post" th:object="${recommendParty}" th:action="@{/insert/saveRecommendParty}">
        <div class="d-flex justify-content-end" sec:authorize="hasAuthority('ADMIN')">
            <button class="btn btn-primary" onclick="addNode(this)" type="button">파티 추가</button>
            <button class="btn btn-danger" type="button">마지막 파티 삭제</button>
        </div>
        <div class="row" th:id="${'main'+item.index}" th:each="party , item : *{recommendPartyDtoList}">
            <div class="d-flex flex-wrap row-cols-4">
                <input class="index" type="hidden" th:field="*{recommendPartyDtoList[__${item.index}__].partyIndex}">
                <input class="name" type="hidden" th:field="*{recommendPartyDtoList[__${item.index}__].characterName}">
                <div class="card" th:each="index : ${#numbers.sequence(0,3)}">
                        <img class="card-img img-fluid"
                             th:if="*{#lists.size(recommendPartyDtoList[__${item.index}__].memberDtoList) > __${index}__}"
                             th:src="*{recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].profile}">
                        <img class="card-img img-fluid"
                             th:if="*{#lists.size(recommendPartyDtoList[__${item.index}__].memberDtoList) <= __${index}__}"
                             src="/image/basic/upload.png">
                        <div class="card-img-overlay p-1">
                            <img th:src="'/image/basic/profile/'+*{recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].roleType}+'.png'"
                                 th:if="*{#lists.size(recommendPartyDtoList[__${item.index}__].memberDtoList) > __${index}__}"
                                 class="img-fluid rounded bg-opacity-75 position-absolute top-0 start-0" style="max-width:25%;"
                                 th:classappend="*{
                            (recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].roleType == '수위' ? 'bg-primary' : '') +
                            (recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].roleType == '치료사' ? 'bg-success' : '') +
                            (recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].roleType == '사수' ? 'bg-info' : '')+
                            (recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].roleType == '전사' ? 'bg-warning' : '')+
                            (recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].roleType == '해결사' ? 'bg-danger' : '')}">
                            <img src="/image/basic/upload.png"
                                 th:if="*{#lists.size(recommendPartyDtoList[__${item.index}__].memberDtoList) <= __${index}__}"
                                 class="img-fluid rounded bg-opacity-75 position-absolute top-0 start-0" style="max-width:25px;">
                        </div>
                        <div class="form-floating">
                            <input class="text-light" type="hidden" th:field="*{recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].characterName}">
                            <input type="hidden" th:field="*{recommendPartyDtoList[__${item.index}__].memberDtoList[__${index}__].memberIndex}">
                            <select class="form-control badge" th:id="${'showCharacter'+item.index+index}" onchange="selectCharacter(this)">
                                <option value="">선택</option>
                                <option th:each="allCharacters , i : ${allCharacters}" th:value="${i.index}" th:text="${allCharacters.characterName}"></option>
                            </select>
                            <label th:for="${'showCharacter'+index}">이름</label>
                        </div>

                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" th:field="*{recommendPartyDtoList[__${item.index}__].partyExplain}">
                        </textarea>
                        <label th:for="*{recommendPartyDtoList[__${item.index}__].partyExplain}">파티 설명</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">입력</button>
            </div>
        </div>
    </form>
</div>

</html>