<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    const skillEffects = /*[[${skillEffects.skillEffectDto}]]*/;
    let idNum = skillEffects.length - 1;

    const defaultClass = 'form-control';

    function addItemInput() {
      const oldNode = document.getElementById('mainClass' + idNum);
      idNum++;
      const newNode = oldNode.cloneNode(true);
      newNode.id = 'mainClass' + idNum;

      newNode.childNodes[0].id = 'skillEffectDto'+idNum+'effectIndex';
      newNode.childNodes[0].name = 'skillEffectDto[' + idNum + '].effectIndex';
      newNode.childNodes[0].value = null;


      newNode.childNodes[3].childNodes[1].id = 'skillEffectDto' + idNum + '.effectsName';
      newNode.childNodes[3].childNodes[1].name = 'skillEffectDto[' + idNum + '].effectsName';
      newNode.childNodes[3].childNodes[1].value = '';

      newNode.childNodes[5].childNodes[1].id = 'skillEffectDto' + idNum + '.effects';
      newNode.childNodes[5].childNodes[1].name = 'skillEffectDto[' + idNum + '].effects';
      newNode.childNodes[5].childNodes[1].value = '';
      oldNode.after(newNode);
    }

    function deleteItemInput(e) {
      if(confirm('정말 삭제하시겠습니까?') == true){
        if(idNum < 1){
          alert('아이템이 너무 적습니다.')
        }else{
          const lastNode = e.parentNode.parentNode;
          lastNode.remove()
          idNum = idNum - 1;
        }
      }
    }

  </script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <h1>스킬 이펙트 추가</h1>
  <h1>스킬 이펙트 추가 테스트 화면</h1>
  <div th:object="${skillEffects}">
    <div class="row m-1" th:each="skillEffects , index : ${skillEffects.skillEffectDto}" th:id="mainClass__${index.index}__">
      <input type="hidden" th:field="*{skillEffectDto[__${index.index}__].effectIndex}">
      <div class="row">
        <input class="form-control" th:field="*{skillEffectDto[__${index.index}__].effectsName}">
        </div>
      <div class="row">
        <textarea class="form-control" th:field="*{skillEffectDto[__${index.index}__].effects}"></textarea>
      </div>
      <div class="row justify-content-end">
        <button class="btn btn-danger" type="button" onclick="deleteItemInput(this)">아이템 삭제</button>
      </div>
      <div><br/></div>
    </div>
    <div class="row m-1">
      <div class="d-flex justify-content-end">
        <button class="btn btn-warning" type="button" onclick="addItemInput()">아이템 추가</button>
        <!--수정 필요함. 모달 창으로 추가 화면 만들기 수정/추가 같은 화면 사용하면 될듯-->
      </div>
    </div>
  </div>
</div>

</html>