<html lang="kr" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--headerFragment 선언-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<nav th:fragment="headerFragment" class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">아카계산기</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="calculator" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            계산기
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/calculator/exp">경험치</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/calculator/skillExp">스킬경험치</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/calculator/goodsExp">호감도</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/calculator/starExp">조각</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/information/characterList" class="nav-link">
            케릭터
          </a>
        </li>
        <li sec:authorize="hasAnyAuthority('USER','ADMIN')" class="nav-item">
          <a class="nav-link active" aria-current="page" href="/insert/main">정보입력</a>
        </li>
        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/joinForm">회원추가</a>
        </li>
        <li class="nav-item">
          <form class="col-md-12" role="search" id="searchForm" action="/information/character" method="GET">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="케릭터 이름" aria-label="케릭터 이름"
                aria-describedby="button-addon2" id="name" th:name="name">
              <button class="btn btn-outline-success" id="button-addon2" type="submit">search</button>
            </div>
          </form>
        </li>
      </ul>
      <div class="nav-item">
        <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-primary nav-item"
          onClick="location.href='/loginForm'">로그인</button>
        <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-danger nav-item"
          onClick="location.href='/logout'">로그아웃</button>
      </div>
    </div>
  </div>
</nav>

</html>