<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">

  <main class="form-signin w-100 m-auto">
    <form action="/users/join" method="POST">
      <div class="container-xl">
        <div class="row justify-content-center">
            <input type="hidden" name="role" value="GUEST">
          <div class="col-xl-6">
            <div class="row">
              <h1 class="h3 mb-3 fw-normal">회원가입</h1>
              <img class="img-fluid" src="/image/frontPage/logo.png" style="max-width:100%;">
              <br />
            </div>
            <div class="row">
              <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="id">
                <label for="floatingInput">id</label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                       placeholder="Password">
                <label for="floatingPassword">Password</label>

                <button class="w-100 btn btn-lg btn-primary" type="submit">create User</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>
</html>