<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">

  <!--  html 전체 영역을 지정하는 container -->
  <div id="container">
    <!--  login 폼 영역을 : loginBox -->
    <div id="loginBox">
      <!-- 아이디, 비번, 버튼 박스 -->
      <div id="inputBox">
        <form action="/users/join" method="POST">
          <input type="hidden" name="role" value="USER">
          <div class="input-form-box"><span>아이디 </span><input type="text" name="username" class="form-control"></div>
          <div class="input-form-box"><span>비밀번호 </span><input type="password" name="password" class="form-control">
          </div>
          <div class="button-login-box">
            <button type="submit" class="btn btn-primary btn-xs" style="width:100%">생성</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</html>