<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        mainImages()
      });
      function mainImages(){
        
      }
    </script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
    <div class="row" id="main">
        <img class="img-fluid" src="/image/frontPage/main.webp" style="max-width:100%;">
    </div>
    <div class="row">
        <br>
        <div class="col-sm">
            <div class="row row-cols-2">
                <div class="col-sm">
                    <a href="/calculator/allExp" id="calculator">
                        <img src="/image/frontPage/calculator.webp" style="max-width:100%;">
                    </a>
                </div>
                <div class="col-sm">
                    <a href="/information/characterList" id="characters">
                        <img src="/image/frontPage/character.webp" style="max-width:100%;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row row-cols-2">
                <div class="col col-sm">
                    <a href="/information/ExceptionProtocol" id="Ep">
                         <img src="/image/frontPage/Ep.webp" style="max-width:100%;">
                    </a>
                </div>
                <div class="col-sm">
                    <a href="/#" id="tier">
                        <img src="/image/frontPage/tierList.webp" style="max-width:100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>