<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <th:block th:replace="fragments/config :: configFragment"></th:block>
</head>

<body>
    <!-- header fragment 사용 -->
    <div>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    </div>
    <!-- content fragment 사용 -->
    <div class="container-fluid p-5">
        <div class="container-fluid p-5">
        <th:block layout:fragment="content"></th:block>
        </div>
    </div>
    <!-- footer fragment 사용 -->
    <div>
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
</body>

</html>